/*main screen*/
body{
    overflow: hidden;
}
.cyb-tree{
    margin-left: 30%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree2{
    margin-left: 94%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}
.cyb-tree3{
    margin-left: 6%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree3{
    margin-left: 15%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}


.cyb-main-avatar{
    margin-left: calc(50% - 260px);
    position: fixed;
    bottom: -31px;
}

.cyb-main-background{
    background-image: url("../images/first-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.cyb-button {
    background-color: #00BFFF;
    -webkit-border-radius: 10px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 25px;
    padding: 9px 23px;
    text-align: center;
    text-decoration: none;
    left: 42%;
    top: 23%;
    position: fixed;
}