/*main screen*/
body{
    overflow: hidden;
}
.cyb-tree2{
    margin-left: 10%;
    position: fixed;
    bottom: 105px;
}
.cyb-tree3{
    margin-left: 6%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree4{
    margin-left: 26%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 157px;
}

.cyb-tree5{
    margin-left: 70%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 16px;
}



.cyb-tree6{
    margin-left: 57%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 19px;
}

.cyb-tree7{
    margin-left: 34%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 85px;
}

.cyb-tree8{
    margin-left: 81%;
    position: fixed;
    bottom: 32px;
}

.cyb-main-avatar{
    margin-left: calc(50% - 260px);
    position: fixed;
    bottom: -31px;
}

.cyb-main-background{
    background-image: url("../images/BG-3.jpg");
   background-position: 0px 768px;
    height: 100vh;
    width: 100vw;

}

.cyb-second-background{
    display: none;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.slideout{
    animation: slideout 5s linear;
}

.slidein{
    animation: slidein 5s linear;
}

.cyb-button {
    background-color: #00BFFF;
    -webkit-border-radius: 10px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 25px;
    padding: 9px 23px;
    text-align: center;
    text-decoration: none;
    left: 42%;
    top: 23%;
    text-align: center;
    position: fixed;
}
.cyb-window {
	display: none;
    border: 7px solid darkblue;
    background-color: lightgray;
    width: 500px;
    margin-left: 60%;
    bottom: 100px;
    height: 550px;
    position: fixed;
    border-radius: 10px;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.focus_content {
  z-index: 1002;
}

.win-fade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
