/*main screen*/
body{
    overflow: hidden;
}
.cyb-tree2{
    margin-left: 10%;
    position: fixed;
    bottom: 105px;
}
.cyb-tree3{
    margin-left: 6%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree4{
    margin-left: 26%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 157px;
}

.cyb-tree5{
    margin-left: 70%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 16px;
}

.cyb-main-text{
    font-size: 56px;
    color:white;
    font-family: "Open Sans";
    text-shadow: 2px 2px black;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    background-color: transparent;
    padding-top: 170px;
    padding-left: 432px;
}

.cyb-second-text{
    font-size: 30px;
    color:white;
    font-family: "Open Sans";
    text-shadow: 2px 2px black;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: transparent;
    margin-top: 170px;
    margin-left: 432px;
}

.cyb-title{
    display: none;
}

.middle{
    font-size: 56px;
    color:white;
    font-family: "Open Sans";
    text-shadow: 2px 2px black;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    background-color: transparent;
    padding-left: 530px;
}


.cyb-tree6{
    margin-left: 57%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 19px;
}

.cyb-tree7{
    margin-left: 34%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 85px;
}

.cyb-tree8{
    margin-left: 81%;
    position: fixed;
    bottom: 32px;
}

.character1{
    margin-left: 66%;
    height: 415px;
    width: 495px;
    position: fixed;
    bottom: 30px;
    display: none;
}

.character2{
    margin-left: 20%;
    height: 0px;
    width: 0px;
    position: fixed;
    bottom: 35%;
    display: none;
}

.safe{
    margin-left: 290px;
    height: 198px;
    width: 170px;
    position: fixed;
    bottom: 20px;
    display: none;
}

.safe2{
    margin-left: 290px;
    height: 198px;
    width: 170px;
    position: fixed;
    bottom: 20px;
    display: none;
}

.safe-shadow {
    margin-left: 235px;
    height: 60px;
    width: 290px;
    position: fixed;
    bottom: -3px;
    display: none;
    opacity: 0;
}



.cyb-main-avatar{
    margin-left: calc(50% - 470px);
    position: fixed;
    bottom: 70px;
    display: none;
}

.cyb-need-animate-down{
    z-index: 1005;
}
.cyb-main-background{
    background-image: url("../images/BG-6.jpg");
   background-position: 0px 768px;
    height: 100vh;
    width: 100vw;

}

.slideout{
    animation: slideout 5s linear;
}

.slidein{
    animation: slidein 5s linear;
}

.cyb-button {
    background-color: #00BFFF;
    -webkit-border-radius: 10px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 25px;
    padding: 9px 23px;
    text-align: center;
    text-decoration: none;
    left: 41%;
    top: 43%;
    text-align: center;
    position: fixed;
    display: none;
}
/*.cyb-window {
	display: none;
    border: 7px solid darkblue;
    background-color: lightgray;
    width: 500px;
    margin-left: 60%;
    bottom: 100px;
    height: 550px;
    position: fixed;
    border-radius: 10px;
}*/

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.focus_content {
  z-index: 1002;
}

.cyb-bookcase {
    display: none;
    margin-left: calc(50% - 450px);
    margin-left: calc(50% - 450px);
    position: fixed;
    bottom: 63px;
    z-index: 1003;
}

.cyb-table {
    display: none;
    margin-left: calc(50% - 260px);
    position: fixed;
    bottom: 63px;
    z-index: 1003;
}

.cyb-clock {
    display: none;
    left: calc(50% + 108px);
    top: 100px;
    position: fixed;
    z-index: 1003;
    opacity: 0;
}

.cyb-bag {
    display: none;
    left: calc(50% + 300px);
    height: 100px;
    position: fixed;
    bottom: 63px;
    z-index: 1003;
}

.cyb-change{
    display: none !important;
    height: 100px;
    width: 100px;
    display: block;
    z-index: 10000;
    margin-left: 100px;
    position: fixed;
    top: 100px;
}

.cyb-change1{
    display: none !important;
    height: 100px;
    width: 100px;
    display: block;
    z-index: 10000;
    margin-left: 300px;
    position: fixed;
    top: 100px;
}

.cyb-change2{
    display: none !important;
    height: 100px;
    width: 100px;
    display: block;
    z-index: 10000;
    margin-left: 400px;
    position: fixed;
    top: 100px;
}


.win-fade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}