/*main screen*/
body{
    overflow: hidden;
}
.cyb-tree{
    margin-left: 30%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree2{
    margin-left: 94%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}
.cyb-tree3{
    margin-left: 6%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 120px;
}

.cyb-tree4{
    margin-left: 15%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 97px;
}

.cyb-tree5{
    margin-left: 70%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 16px;
}



.cyb-tree6{
    margin-left: 57%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 19px;
}

.cyb-tree7{
    margin-left: 34%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 85px;
}

.cyb-tree8{
    margin-left: 81%;
    height: 100px;
    width: 50px;
    position: fixed;
    bottom: 32px;
}

.cyb-main-avatar{
    margin-left: calc(50% - 260px);
    position: fixed;
    bottom: -31px;
}

.cyb-main-background{
    background-image: url("../images/first-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.cyb-second-background{
    display: none;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.slideout{
    animation: slideout 5s linear;
}

.slidein{
    animation: slidein 5s linear;
}

.cyb-button {
    background-color: #00BFFF;
    -webkit-border-radius: 10px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 25px;
    padding: 9px 23px;
    text-align: center;
    text-decoration: none;
    left: 42%;
    top: 23%;
    position: fixed;
}