/*school screen*/

.cyb-second-background{
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.cyb-collage{
	display: none;
    margin-left: 55%;
    height: 418px;
    width: 926px;
    position: fixed;
    bottom: 97px;
}

.cyb-hat{
	display: none;
    margin-left: calc(50% - 513px);
    height: 62px;
    width: 141px;
    position: fixed;
    bottom: 432px;
    z-index: 2000;
}

.cyb-book1{
	display: none;
    margin-left: 22%;
    height: 22px;
    width: 98px;
    position: fixed;
    bottom: 182px;
}

.cyb-book2{
	display: none;
    margin-left: 22%;
    height: 22px;
    width: 88px;
    position: fixed;
    bottom: 162px;
}

.cyb-book3{
	display: none;
    margin-left: 22%;
    height: 21px;
    width: 100px;
    position: fixed;
    bottom: 142px;
}

.cyb-book4{
	display: none;
    margin-left: 22%;
    height: 22px;
    width: 106px;
    position: fixed;
    bottom: 122px;
}

.cyb-book5{
	display: none;
    margin-left: 22%;
    height: 21px;
    width: 95px;
    position: fixed;
    bottom: 102px;
}

.cyb-book6{
    display: none;
	margin-left: 22%;
    height: 25px;
    width: 111px;
    position: fixed;
    bottom: 81px;
}

.cyb-book7{
	display: none;
    margin-left: 22%;
    height: 21px;
    width: 95px;
    position: fixed;
    bottom: 61px;
}

.cyb-safeshadow{
	display: none;
	margin-left: 15%;
    height: 28px;
    width: 283px;
    position: fixed;
    bottom: 46px;
    opacity: 0.5;
}