*{
    margin:0px;
    padding:0px;
}

div.quiz-content{
    color:#444444;
    font-size:13px;
    font-family:"Century Gothic", Helvetica, sans-serif;
    text-align:center;
    position:relative;
    height:100%;
	margin: 20px auto 20px auto; /* centered */
}

div.quiz-wrapper{
    overflow:hidden;
	opacity: 0.9;
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),
        0 1px 5px rgba(0,0,0,0.2),
        0 0 0 12px rgba(255,255,255,0.4);
}

.progress-container {
    background-color: #3DAEE3;
	height: 30px;
	padding: 10px 20px 0px 20px;
}

.progress-container .progress {
	width: 0;
	height: 10px;
	color: #4c4c4c;
	background: #fff;
	content: "";
	background-image:
	   -webkit-gradient(linear, 0 0, 100% 100%,
	      color-stop(.25, rgba(255, 255, 255, .2)),
	      color-stop(.25, transparent), color-stop(.5, transparent),
	      color-stop(.5, rgba(255, 255, 255, .2)),
	      color-stop(.75, rgba(255, 255, 255, .2)),
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: -webkit-linear-gradient(-45deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
	background-image:
		-moz-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .2) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .2) 50%,
	      rgba(255, 255, 255, .2) 75%,
	      transparent 75%,
	      transparent
	   );
	background-image:
		-ms-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .2) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .2) 50%,
	      rgba(255, 255, 255, .2) 75%,
	      transparent 75%,
	      transparent
	   );
	background-image:
		-o-linear-gradient(
		  -45deg,
	      rgba(255, 255, 255, .2) 25%,
	      transparent 25%,
	      transparent 50%,
	      rgba(255, 255, 255, .2) 50%,
	      rgba(255, 255, 255, .2) 75%,
	      transparent 75%,
	      transparent
	   );

	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
}


div.steps{
    /*margin-top:40px;*/
    overflow:hidden;
}
.step{
    float:left;
    /*height:320px;*/
}
div.steps form fieldset{
    border: none;
    padding-bottom: 20px;
    min-height: 200px;
    height: 85%;
}

div.steps form .resultset,
div.steps form legend{
	background: #3DAEE3;
    text-align:left;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    float:left;
    width:84%;
    padding:5px 0px 10px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
    text-shadow: 0px 0px 1px rgba(0,0,0,.4);
    font-family: "Trebuchet MS", sans-serif;
}
div.steps form .resultset{
	background: none;
    text-align:center;
}
div.steps form .resultset a.active{
    text-decoration: underline;
	font-style: italic;
}

div.steps h3{
    background-color:transparent;
    text-align:center;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    color:#666;
    width:100%;
    padding:5px 0px 0px 10px;
    font-size:22px;
}

div.steps h3.skill{
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
    background-color:#595959;
    text-align:center;
    text-shadow:1px 0px 0px #fff;
    font-weight:bold;
    color:#fff;
    width:100%;
    padding:10px;
    font-size:22px;
}

div.steps form div.the-answer,
div.steps form p{
    cursor:pointer;
    text-align:left;
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    width:420px;
    padding:10px;
    margin-left:80px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:2px solid #aaa;
	color: #000;
	-moz-box-shadow: 0 0 2px 2px #f4f4f4;
	-webkit-box-shadow: 0 0 2px 2px #f4f4f4;
	box-shadow: 0 0 2px 2px #f4f4f4;
}

/*div.steps form p.selected:hover,*/
div.steps form p.selected:active,
div.steps form p.selected.active,
div.steps form p.selected.disabled,
div.steps form p.selected[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

div.steps form div.the-answer-selected, div.steps form p.selected, div.steps form p.right {
	background: #005375;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	-moz-box-shadow: 0 0 2px 2px #888;
	-webkit-box-shadow: 0 0 2px 2px #888;
	box-shadow: 0 0 2px 2px #888;
}
div.steps form div.the-answer,
div.steps form div.the-answer-selected{
	position: relative;
	overflow: hidden;
}
div.steps form p.right:hover {

}

div.steps form p.wrong{
    color: #FFFFFF;
    background-color: #da4f49;
}
div.steps form p.wrong:hover {
	background-color:#da4f49;
}

div.steps form .final-result{
    display:none;
}
div.steps form #your-score{
    display:block;
}
#quiz-notice{
    color: #FF0000;
    text-align:center;
    display:none;
    padding-bottom: 10px;
}

#quiz-navigation{
    height:45px;
    background-color:#FFFAF6;
    border-top:1px solid #595959;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;

}
#quiz-navigation ul{
    list-style:none;
    float:left;
    margin-left:22px;
    margin-bottom: 0px;
}
#quiz-navigation ul li{
    float:left;
    /*border-right:1px solid #ccc;
    border-left:1px solid #ccc;*/
    position:relative;
    margin:0px 2px 0px 0px;
}
#quiz-navigation ul li a{
    display:block;
    color:white;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    padding:0px 20px;
	margin-top: 7px;
	line-height: 30px;
	height: 30px;
	background:#3DAEE3;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
}

#quiz-navigation ul li a:hover,
#quiz-navigation ul li.selected a{
    background:#3597c5;
    color:#f0f0f0;
}

#quiz-navigation ul li.disabled a{
    opacity: 0;
	-moz-opacity:0;
	filter:alpha(opacity=0);
    cursor: default;
}



#quiz-navigation ul li.page-number {
    margin: 0px 170px 0px 160px;
	border: none;
}

#quiz-navigation ul li.page-number  a{
    cursor: default;
    font-weight: normal;
    background: none;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
	box-shadow: 2px 2px 2px #666;
	color: #666;
	border: 1px solid #D9D9D9;
}

span.ribbon {
	position: absolute;
	right: -14px;
	top: 0px;
	display: inline-block;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
	width: 30px;
	padding: 3px 10px;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.ribbon span.green{
	background-color: #468847;
}

span.label {
    background-color: #999999;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 9.75px;
    font-weight: bold;
    padding: 5px 3px 5px 3px;
    text-shadow: none;
    margin-right: 5px;
    display:inline-block !important;
}

span.label a{
    text-decoration: none;
}

span.label a:hover{
    text-decoration: underline;
}

span.label-important {
    background-color: #B94A48;
}

span.label-info {
    background-color: #3A87AD;
}
span.label-success {
    background-color: #468847;
}
span.label-warning {
    background-color: #F89406;
}

span.link-white a{
    color: #fff;
	padding-bottom: 5px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

[class^="qicon-"] {
background-image: url("../img/glyphicons-halflings.png");
background-position: 14px 14px;
background-repeat: no-repeat;
display: inline-block;
height: 14px;
vertical-align: text-top;
width: 14px;
}
.qicon-ok {
    background-position: -288px 0;
}
.qicon-remove {
    background-position: -312px 0;
}
.qicon-exclamation-sign {
    background-position: 0 -120px;
}
.qicon-backward {
  background-position: -240px -72px;
}
.qicon-asterisk {
  background-position: -456px -96px;
}
.qicon-forward {
  background-position: -336px -72px;
}
.qicon-star {
background-position: -120px 0;
}
.qicon-white {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.qicon-info-sign {
background-position: -120px -96px;
}

.quiz-explain{
    clear: both;
    display: block;
    padding-top: 10px;
}

.simple-modal-link{
    color: #000000;
    height: 25px;
    padding-top: 2px;
    text-decoration: none;
}
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


/**Form**/
.competition-form{
    padding: 0px 20px 0px 20px;
    color: #005375;
}

.competition-form .headerText{
    padding: 10px 0px 0px 15px;
}

.competition-form a{
    color: #005375;
    text-decoration: underline;
}
.competition-form a.ajax-load,
.competition-form a.button{
    text-decoration: none;
    padding: 10px 120px 10px 10px;
    margin: 20px 20px 0px 0px;
}

.competition-form input[type=text], textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #005375;
    height: 25px;
}
.competition-form textarea{
  height: 70px;
}
.competition-form .fieldset{
    padding: 10px 20px 0px 10px;
}
.competition-form .box{
    padding: 20px 10px;
    border-radius: 4px;
    border: 1px solid #005375;
    margin-top : 18px;
}

#quiz-navigation ul li a#show-submit-score,
#quiz-navigation ul li a#btn-submit-score{
    margin-right:20px;
}
#quiz-navigation ul li a#btn-submit-score{
    display:none;
}

#ajax-loader{
  display: none;
  margin-top: 7px;
}

.red {
   background-color: red;
}

.show_container{
	display: block;
}

.hide_container{
	display: none;
}


/********************
* Smoke js
*********************/
.smoke-base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all .3s;
  -webkit-transition: opacity .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.smoke-base .dialog {
  position: absolute
}

.dialog-prompt {
  margin-top: 5px;
  text-align: center;
}

.dialog-buttons {
  margin: 10px 0 5px 0
}

.smoke {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 130%;
}

.dialog-buttons button {
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
  border: 0;
  outline: 0;
  margin: 0 5px;
  -webkit-background-clip: padding-box;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  padding: 9px 12px;
}

.dialog-prompt input {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  outline: none;
  border: 1px solid #333;
  width: 97%;
  background-color: #fff;
  font-size: 15px;
  padding: 5px;
}

.smoke-base {
  background: rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#900000000);
}

.smoke-base .dialog {
  top: 25%;
  left: 25%;
  width: 50%;
}

.smoke-base .dialog-inner {
  padding: 15px
}

.smoke-base .dialog-inner h3{
    background-color:transparent;
    text-align:center;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    color:#666;
    padding:5px 0px 0px 10px;
    font-size:22px;
}

.smoke-base .dialog-inner p{
    cursor:pointer;
    text-align:left;
    clear:both;
    margin:5px 0px;
    background-color:rgb(187, 187, 187);
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #005375;
    color: #000;
    -moz-box-shadow: 0 0 2px 2px #f4f4f4;
    -webkit-box-shadow: 0 0 2px 2px #f4f4f4;
    box-shadow: 0 0 2px 2px #f4f4f4;
    font-size:14px;
}

.smoke-base .dialog-inner p{
  border: none;
  border-left: 40px solid rgb(80, 136, 66);
}
.smoke-base .dialog-inner p.wrong{
    color: #FFFFFF;
    background-color: rgb(136, 66, 66);
    /*border:1px solid rgb(136, 45, 41);*/
}
.smoke-base .dialog-inner p.right{
    color: #FFFFFF;
    background: #005375;
}
.smoke-base .dialog-inner p span.weight{
  margin-left: -35px;
  padding-right: 25px;
  color: #FFFFFF;
  position: absolute;
}
.smoke-base .dialog-inner p.explanation-text{
    font-size: 12px;
    padding:5px;
    border: 0;
    background: none;
    box-shadow: none;
}

.smoke {
  text-transform: uppercase;
  background-color: rgba(255,255,255,1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff);
}

.dialog-buttons button {
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#222222,endColorstr=#222222);
  color: #fff;
}

button.cancel {
  background-color: rgba(0,0,0,.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444,endColorstr=#444444);
}

.queue{
    display:none;
}


.smoke-base {
    background: none;
}

.smoke-base .dialog {
  top: 25%;
  left: 30%;
  width: 40%;
}

.smoke-base .dialog-inner {
    padding: 10px;
}

.smoke {
    text-transform: none;
    color:#555;
    font-weight: normal;
    background-color: #fff;
    border-radius: 10px;
    border:10px solid #3DAEE3;
    font-size:24px;
}

.smoke h2,
.smoke p{
    margin: 10px 0;
}

.dialog-buttons {
    margin: 0;
    float:right;
    position: absolute;
    top:0;
    right:0;
}

.dialog-buttons button {
    border-radius: 50%;
    text-transform: uppercase;
    background-color: #3DAEE3;
    color: #fff;
    font-size:11px;
    padding:6px 9px;
}

button.cancel {
    background-color: #777;
    color:#fff;
}

.dialog-prompt input{
    width:300px;
    text-align:center;
    background-color:#ccc;
}