.cyb-window {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 200px;
	background-repeat: no-repeat;
    background-image: url("../images/Board.png");
    width: 720px;
    height: 611px;
    position: fixed;
    z-index: 1002;
    left:40%;
}

.next-button{
    height: 35px;
    width: 80px;
}

.correctIcon{
    background-repeat: no-repeat;
    background-image: url("../images/correctIcon.png");
    height: 100px;
    width: 100px;
}

.wrongIcon{
	background-repeat: no-repeat;
    background-image: url("../images/wrongIcon.png");
    height: 100px;
    width: 100px;
}

.win-fade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}